<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>HempConduit Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0;padding: 0;background-color: #fff;color: #000;font-style: normal;font-weight: 400;font-size: 1.4rem;line-height: 1.4;font-family: Arial, Helvetica, sans-serif;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;overflow-x: hidden;">
<table style="background-color:#ffffff;padding-top:20px;color:#434245;width:100%;border:0;text-align:center;border-collapse:collapse">
    <tbody>
    <tr>
        <td style="vertical-align:top;padding:0">
            <center>
                <table style="border:0;border-collapse:collapse;background:white;border-radius:8px;margin: 0 auto 16px;">
                    <tbody>
                    <tr>
                        <td style="width:546px;vertical-align:top;padding-top:32px">
                            <div style="max-width:600px;margin:0 auto"><img
                                        style="width:auto;height:auto;margin:0 0 15px 0;padding-right:30px;padding-left:30px"
                                        src="http://hempconduit.com/static/images/logo.png"
                                        alt="" class="CToWUd" width="38" height="38">
                                <h1 style="font-size:30px;padding-right:30px;padding-left:30px">Reset your password</h1>
                                <p style="font-size:17px;padding-right:30px;padding-left:30px">We heard that you lost your Hemp Conduit password...</p>
                                <p style="font-size:17px;padding-right:30px;padding-left:30px">Don’t worry! Use the following link to reset your password:</p>
                                <div style="padding-right:30px;padding-left:30px;margin:32px 0 40px">
                                    <table style="border-collapse:collapse;border:0;background-color:#f4f4f4;height:70px;table-layout:fixed;word-wrap:break-word;border-radius:6px">
                                        <tbody>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td style="word-break:break-all;font-size:12px;text-align:center;vertical-align:middle;width: 100%; margin-left: auto; margin-right: auto;">
                                                <a style="word-break: break-all;color:#0576b9" target="_blank" href="https://hempconduit.com/password_reset/{{.Code}}">https://hempconduit.com/password_reset/{{.Code}}</a>
                                            </td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p style="font-size:16px;padding-right:30px;padding-left:30px">If you don’t use this link within 3 hours, it will expire. To get a new password reset link, visit <a style="color:#0576b9" target="_blank" href="https://github.com/password_reset">https://hempconduit.com/password_reset</a>.
                                </p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    <tr>
        <td style="font-size:15px;color:#717274;text-align:center;width:100%;border-top:1px solid #e1e1e4">
            <center>
                <table style="margin-top:20px;background-color:white;border:0;text-align:center;border-collapse:collapse">
                    <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <span style="display:block;color:#434245;font-size:15px">© 2019 <a href="https://hempconduit.com" style="color:#434245" target="_blank">
                                    Hemp Conduit
                                </a>
                            </span>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>